page-contact {
  .conteiner {
    width: auto;
    height: 90px;
  }

  .card-md{
    margin: 12% 3% !important;
  }

  .quest {
    margin-bottom: 20%;
    margin-top: 20%;
  }

  .icone {
    margin-left: 3%;
    font-size: 150%;
  }
  .verde{
    background-color: green;
  }
  .vermelho{
    background-color: red;
  }
}
